<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jnuneslab.com.footballmatches">

    <!-- Permission for Internet access -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permission used for Database debugging
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MainTheme">

        <!-- Matches Provider -->
        <provider
            android:name=".data.MatchesProvider"
            android:authorities="jnuneslab.com.footballmatches"
            android:exported="false" />

        <!-- Settings Activity -->
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:label="Settings Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Widget receiver -->
        <receiver
            android:name=".ui.widget.WidgetProvider"
            android:enabled="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="jnuneslab.com.footballmatches.BROADCAST_MATCHES_UPDATED" />
            </intent-filter>

            <!-- Configuration widget resource attribute -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>

        <!-- Widget remote view service  -->
        <service
            android:name=".ui.widget.WidgetRemoteViewService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>
</manifest>
